<section>
  <h1>Latest Game Reviews</h1>
  <h3><%= link_to("create new review", new_game_path )%></h3>
  <!--since we're using the same _summary_show on the HOME page as well as reviews, the distinction is:-->
  <!--HOME only displays 3 most recent reviews-->
  <!--REVIEWS shows all of them-->
  <% @games.each do |game| %>
    <%= render partial: "games/shared/summary_show", locals: {game: game} %>
  <% end %>
</section>