<section>
  <div class="flex flex-col">
    <%= link_to game.title, game_path(game)%>
    <%= game.created_at %>
  </div>
  <div class="flex">
    <%= game.summary %>
    <% if game.cover_art.attached? %>
      <%= image_tag game.cover_art %>
    <% end %>
  </div>
</section>