* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-h1: 2.75rem;
  --fs-h3: 1.5rem;
  --fs-li: 1rem;
  font-family: "Sans-Serif";
}

//variables
$nav-background-color: #3b3b57;
$base-turquoise-color: #3AC2D0;


//typography

h1{
  font-weight: 500;
}

h3{
  font-weight: 500;
}

a, li > *, li {
  text-decoration: none;
}

nav * {
  color:  #FFFFFF8C;
}

h1, h2, h3, h4, .pixel *{
  font-family: pixel;
}

#home-hero{
  font-size: var(--fs-h1);
}

#ethos{
  font-size: var(--fs-h3);
}

.nav-bar li {
  font-size: var(--fs-li);
}

.title{
  color: rgb(235, 29,70)
}

.title:hover{
  text-decoration: underline;
}


//at-rules
@font-face {
  font-family: "pixel";
  src: url(PixelPowerline-11Mg.ttf);
}

@media(max-width: 1200px){
  :root{
    --fs-h1: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-li: .85rem;
  }
}

@media(max-width: 950px){
  :root{
    --fs-h1: 2rem;
    --fs-h3: 1.15rem;
    --fs-li: .75rem;
  }
}

@media(max-width: 800px) {
  :root {
    --fs-h1: 1.85rem;
    --fs-h3: 1rem;
    --fs-li: .6rem;
  }
}

@media(max-width: 425px){
  :root{
    --fs-h1: 1.5rem;
    --fs-h3: .85rem;
  }
}


//layout -- universal

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
  justify-content: space-between;
}

main{
  max-width: 1100px;
  margin: 0 auto;
}

//layout -- header

header > *, nav > * {
  max-width: 1100px;
}


header {
  font-family: "pixel";
  background-color: $base-turquoise-color;
  color: white;
  padding: .5em 2.5em;
  min-height: 80px;

  .banner {
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 700px){
      flex-direction: column;
    }
  }
}

li{
  list-style: none;
}
//layout -- nav_bar

.nav-bar {
  background-color: $nav-background-color;
  padding: 0em 2.5em;
  position: sticky;
  top: 0;
  margin-bottom: 2em;
}

nav {
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;

  a:focus, a:hover{
    color: rgba(255,255,255, .75);
  }

  .active:hover, .active{
    color: rgb(255,255,255);
  }

  .pages{
    align-items: center;
  }

  .pages > * {
    margin-right: 20px;
  }

  .search * {
      padding: .35em 0em;
      font-family: pixel;
    }

  }


  #search{
    padding-left: 1em;
    color: black;
  }

  #search_button{
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    background: $base-turquoise-color;
    margin-left: .5em;
  }



// layout - reviews

section > * {
  margin-bottom: 20px;
}

.cover_art {
  width: 320px;
  height: 200px;
  object-fit: cover;
}